[submodule "python/extern/pybind11"]
	path = python/extern/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "pyalp/extern/pybind11"]
	path = pyalp/extern/pybind11
	url = https://github.com/pybind/pybind11
